<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/app.html}"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>Quản lý người dùng hệ thống</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h4 class="card-title mb-0">
                        Quản lý người dùng
                    </h4>
                </div>
                <div class="col-4 text-right">
                    <a th:href="@{/admin/users/create}" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Tạo
                        mới</a>
                </div>
            </div>

            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td><strong>STT</strong></td>
                            <td><strong>Họ và tên</strong></td>
                            <td><strong>Username</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Ngày sinh</strong></td>
                            <td><strong>Trạng thái</strong></td>
                            <td><strong>Hành động</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users.page}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName  + user.lastName}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td>Ha le</td>
                            <td>adadadf</td>
                            <td>adadadf</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <nav aria-label="Page navigation example" class="paging">
                        <ul class="pagination" th:if="${users.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!users.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/?current=' + ${users.paging.current - 1}}"
                                   tabindex="-1">Previous</a>
                            </li>
                            <th:block th:each="item : ${users.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == users.paging.current? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}"><a
                                        class="page-link" th:href="@{'/?current=' + ${item.index}}"
                                        th:text="${item.index}"></a></li>
                                <li class="page-item disabled"
                                    th:if="${item.pageItemType.name() == 'DOTS'}"><a
                                        class="page-link" href="#">...</a></li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!users.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/?current=' + ${users.paging.current + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>